					/*Generic*/
html {
    background: #F0F9F2;
    color: #28230E;
}
a:link {
	text-decoration: none;
	color: #B23318;
}
a:hover {
	font-style: italic;
}
a:visited {
	color: #718A6B;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 150%;
}

					/*Main Content*/
.anchor {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    padding-bottom: .25em;
}
.anchor a:link {
    text-decoration: none;
    color: #28230E;
}
.anchor a:visited {
    text-decoration: none;
    color: #734B1A;
}
.anchor a:hover {
    font-style: italic;
}


					/*Table*/
table {
	width: 100%;
	text-align: center;
	margin-bottom: 5em;
}
table th {
	text-align: center;
}


					/*Footer*/
nav ul li {
	display: inline;
	clear: none;
}
nav {
	text-align: center;
	padding-top: .25em;
}
#line2 {
	width: 100%;
  	height: 4px;
  	background: #718A6B;
  	clear: both;
  	margin-top: 15px;
  	margin-bottom: 12px;	
}