					/**** Generic Classes ****/
/*used colourlovers palettes*/
html {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #F0F9F2;
}



					/** Main-Title **/
#chagers {
	margin-top: .1em;
	margin-left: 0;
	text-align: left;
	font-family: 'Pacifico', cursive;
}

a:link {
	text-decoration: none;
	color: #B23318;
}
a:hover {
	font-style: italic;
}
a:visited {
	color: #718A6B;
}

h1 {
	color: #3F6E82;
	margin-top: 3em;
	margin: center;
	text-align: center;
}

h2 {
	color: #71ACA3;
	margin: center;
	text-align: center;
}

h3 {
	color: #5E8B6E;
	margin: center;
	text-align: center;
}

					/* Section-Content */
section {
	color: #28230;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
}
#array_pic, #hash_pic {
	text-align: center;
}

					/*Footer*/
nav ul li {
	display: inline;
	clear: none;
}
nav {
	text-align: center;
	padding-top: .25em;
	letter-spacing: .1em;
	margin-bottom: 0px;
}
#line2 {
	width: 100%;
  	height: 4px;
  	background: #B23318;
  	clear: both;
  	margin-top: 15px;
  	margin-bottom: 12px;	
}