					/*Generic*/
html {
    background: #F5F5F5;
    color: #030C22;
}
a:link {
	text-decoration: none;
	color: #008584;
}
a:visited {
	color: #9DBFAF;
}
a:hover {
	font-style: italic;
}
body {
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 150%;
}

					/*Main Content*/
.anchor {
    font-family: 'Pacifico', Georgia, sans-serif;
    font-size: 3.5em;
    padding-bottom: .25em;
}
.anchor a:link {
    text-decoration: none;
    color: #008584;
}
.anchor a:visited {
    text-decoration: none;
    color: #008584;
}
.anchor a:hover {
    font-style: italic;
}

.about figure, .blurb {
    display: inline;
}

.blurb {
	margin-left: 10%;
	margin-right: 10%;
	float: right;
	position: absolute;
}
.blurb header p {
	min-width: 300px;
}

#line {
	width: 100%;
	height: 4px;
	background: #404749;
	clear: both;
	margin-top: 15px;
	margin-bottom: 12px;
}

table.projects {
	width: 700px;
	top: 500px;
	margin-bottom: 2em;
	background-color: Teal;
}
td figure {
	height: -50%;
}
aside {
	position: absolute;
	display: inline-block;
	float: right;
	/*top: 500px;*/
	left: 800px;
	width: 25%;
	background-color: AquaMarine;
}
.blog h2 a:link{
	color: #28230E;
}
.blog h2 a:visited{
	color: #28230E;
}



					/*Footer*/
nav ul li {
	display: inline;
	clear: none;
}
nav {
	text-align: center;
	padding-top: .25em;
	letter-spacing: .1em;
	color: #030C22;
}
a:link {
	color: #008584;	
}
a:visited {
	color: #008584;
}
#line2 {
	width: 100%;
	height: 4px;
	background: #95040B;
	clear: both;
	margin-top: 15px;
	margin-bottom: 12px;	
}


			/*Tests*/
/*.about {	
	background-color: Red;
}

.about nav {
	text-align: left;
}*/