/* MAIN */
html {
	background-color: #E6E6E6;
	font-weight: 400;
}
nav ul a {
	color: #00BCD4;
}


/* HEADER */
header {
	color: #F5F5F5;
}
nav {
	background-color: #042029;
}
.logo {
	color:#00BCD4;
	font-size: 2.1rem;
}
.photo-container {
	width: 100%;
	height: 18em;
	background-image: url("../images/cover_photo.jpg");
	background-size: 18.3em;
  background-repeat: repeat-x;
}
.cover-inset {
	position: relative;
	height: auto;
	width: 40%;
	margin: 0 auto;
	padding-top: 4%;
	color: #00BCD4;
}
.cover-inset p {
	margin-top: 0;
	text-align: center;
}
.name {
	font-size: 200%;
	font-family: "Courier New", Courier, monospace;
}

/* CONTACT */
.personal-photos {
	padding-top: 1.5em;
}
.logos {
	height: 13px;
	width: 13px;
}
.contact {
	padding-bottom: 5em;
}
.links {
	padding-bottom: 10%;
}
#nav-arrow {
	background-color: #00BCD4;
	margin-top: 1em;
}
.nav-arrow {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* PROJECTS */
.projects a {
	color: #007888;
}
.projects a:hover {
	font-style: italic;
}
.project-title {
	padding-bottom: 2em;
}
.projects .row {
	padding-bottom: 2.5em;
}

/* PROJECT IMAGES */
img {
	border-radius: 3px;
}

/* FOOTER */
footer.page-footer {
	background-color: #E6E6E6;
}
footer ul li {
	display: inline-block;
	font-weight: bolder;
}
