					/*Generic*/
html {
    background: #F0F9F2;
    color: #28230E;
}
a:link {
	text-decoration: none;
	color: #B23318;
}
a:visited {
	color: #718A6B;
}
a:hover {
	font-style: italic;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 150%;
}

					/*Main Content*/
.anchor {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    padding-bottom: .25em;
}
.anchor a:link {
    text-decoration: none;
    color: #28230E;
}
.anchor a:visited {
    text-decoration: none;
    color: #734B1A;
}
.anchor a:hover {
    font-style: italic;
}
.about figure, .blurb {
    display: inline-block;
}

.blurb {
	margin-left: 10%;
	margin-right: 10%;
	float: right;
	position: absolute;
}
.blurb header p {
	min-width: 300px;
}

#line {
	width: 100%;
  	height: 4px;
  	background: #718A6B;
  	clear: both;
  	margin-top: 15px;
  	margin-bottom: 12px;
}


table.projects {
	width: 700px;
	top: 500px;
	margin-bottom: 2em;
}
aside {
	position: absolute;
	top: 500px;
	left: 800px;
	width: 250px;
}
.blog h2 a:link{
	color: #28230E;
}
.blog h2 a:visited{
	color: #28230E;
}



					/*Footer*/
nav ul li {
	display: inline;
	clear: none;
}
nav {
	text-align: center;
	padding-top: .25em;
	letter-spacing: .1em;
}
#line2 {
	width: 100%;
  	height: 4px;
  	background: #B23318;
  	clear: both;
  	margin-top: 15px;
  	margin-bottom: 12px;	
}